<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsf.mycat.mapper.UserOrderMapper">
    <resultMap id="BaseResultMap" type="com.wsf.mycat.entity.model.UserOrder">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_user_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.wsf.mycat.entity.model.UserOrder">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into tb_user_order (id, user_id, order_no)
        values (next value for MYCATSEQ_GLOBAL, #{userId,jdbcType=BIGINT}, #{orderNo,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.wsf.mycat.entity.model.UserOrder">
    update tb_user_order
    set user_id = #{userId,jdbcType=BIGINT},
      order_no = #{orderNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, user_id, order_no
    from tb_user_order
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, order_no
    from tb_user_order
  </select>
</mapper>